n8n/workflows/w-reg.json
{
  "name": "W-Reg Plant Registry Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule: Daily 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "http://mock-api:8000/v1/plants",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-get-plants",
      "name": "GET /v1/plants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ $json }}",
        "options": {}
      },
      "id": "node-split-plants",
      "name": "Split into plants",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_PLANTS_DB_ID }}",
          "mode": "id"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Plant ID|rich_text",
              "condition": "equals",
              "value": "={{ $json.plant_id }}"
            }
          ]
        },
        "options": {
          "downloadFiles": false
        }
      },
      "id": "node-search-plant",
      "name": "Notion: Search plant by ID",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [660, 0],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-exists",
      "name": "IF: plant exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.results[0].id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Plant Name|title",
              "title": "={{ $('Split into plants').item.json.name }}"
            },
            {
              "key": "Owner|rich_text",
              "textContent": "={{ $('Split into plants').item.json.owner }}"
            },
            {
              "key": "Location|rich_text",
              "textContent": "={{ $('Split into plants').item.json.location }}"
            },
            {
              "key": "Country|select",
              "selectValue": "={{ $('Split into plants').item.json.country }}"
            },
            {
              "key": "Timezone|select",
              "selectValue": "={{ $('Split into plants').item.json.timezone }}"
            },
            {
              "key": "Installed Capacity kWp|number",
              "numberValue": "={{ $('Split into plants').item.json.installed_capacity_kwp }}"
            },
            {
              "key": "SLA Tier|select",
              "selectValue": "={{ $('Split into plants').item.json.sla_tier }}"
            },
            {
              "key": "O&M Provider|rich_text",
              "textContent": "={{ $('Split into plants').item.json.om_provider }}"
            },
            {
              "key": "Status|select",
              "selectValue": "={{ $('Split into plants').item.json.status }}"
            },
            {
              "key": "Go-live Date|date",
              "date": "={{ $('Split into plants').item.json.go_live_date }}"
            }
          ]
        }
      },
      "id": "node-update-plant",
      "name": "Notion: Update plant",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1100, -100],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_PLANTS_DB_ID }}",
          "mode": "id"
        },
        "title": "={{ $('Split into plants').item.json.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Plant ID|rich_text",
              "textContent": "={{ $('Split into plants').item.json.plant_id }}"
            },
            {
              "key": "Owner|rich_text",
              "textContent": "={{ $('Split into plants').item.json.owner }}"
            },
            {
              "key": "Location|rich_text",
              "textContent": "={{ $('Split into plants').item.json.location }}"
            },
            {
              "key": "Country|select",
              "selectValue": "={{ $('Split into plants').item.json.country }}"
            },
            {
              "key": "Timezone|select",
              "selectValue": "={{ $('Split into plants').item.json.timezone }}"
            },
            {
              "key": "Installed Capacity kWp|number",
              "numberValue": "={{ $('Split into plants').item.json.installed_capacity_kwp }}"
            },
            {
              "key": "SLA Tier|select",
              "selectValue": "={{ $('Split into plants').item.json.sla_tier }}"
            },
            {
              "key": "O&M Provider|rich_text",
              "textContent": "={{ $('Split into plants').item.json.om_provider }}"
            },
            {
              "key": "Status|select",
              "selectValue": "={{ $('Split into plants').item.json.status }}"
            },
            {
              "key": "Go-live Date|date",
              "date": "={{ $('Split into plants').item.json.go_live_date }}"
            }
          ]
        }
      },
      "id": "node-create-plant",
      "name": "Notion: Create plant",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1100, 100],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "node-merge",
      "name": "Merge results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "rows",
        "options": {}
      },
      "id": "node-aggregate",
      "name": "Aggregate stats",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-created",
              "name": "records_created",
              "value": "={{ $json.rows.filter(r => r.operation === 'created').length }}",
              "type": "number"
            },
            {
              "id": "assign-updated",
              "name": "records_updated",
              "value": "={{ $json.rows.filter(r => r.operation === 'updated').length }}",
              "type": "number"
            },
            {
              "id": "assign-total",
              "name": "records_processed",
              "value": "={{ $json.rows.length }}",
              "type": "number"
            },
            {
              "id": "assign-finished",
              "name": "finished_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-stats",
      "name": "Set audit stats",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "={{ $env.NOTION_AUDIT_LOG_DB_ID }}",
          "mode": "id"
        },
        "title": "={{ 'W-Reg_' + new Date().toISOString().slice(0,16) }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow Name|select",
              "selectValue": "W-Reg"
            },
            {
              "key": "Trigger Type|select",
              "selectValue": "Schedule"
            },
            {
              "key": "Status|select",
              "selectValue": "✅ Success"
            },
            {
              "key": "Records Processed|number",
              "numberValue": "={{ $json.records_processed }}"
            },
            {
              "key": "Records Created|number",
              "numberValue": "={{ $json.records_created }}"
            },
            {
              "key": "Records Updated|number",
              "numberValue": "={{ $json.records_updated }}"
            },
            {
              "key": "Source Endpoint|rich_text",
              "textContent": "/v1/plants"
            },
            {
              "key": "Target System|select",
              "selectValue": "Notion"
            },
            {
              "key": "Finished At|date",
              "date": "={{ $json.finished_at }}"
            }
          ]
        }
      },
      "id": "node-audit-log",
      "name": "Notion: Write Audit Log",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1980, 0],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion API"
        }
      }
    }
  ],
  "connections": {
    "Schedule: Daily 06:00": {
      "main": [
        [{ "node": "GET /v1/plants", "type": "main", "index": 0 }]
      ]
    },
    "GET /v1/plants": {
      "main": [
        [{ "node": "Split into plants", "type": "main", "index": 0 }]
      ]
    },
    "Split into plants": {
      "main": [
        [{ "node": "Notion: Search plant by ID", "type": "main", "index": 0 }]
      ]
    },
    "Notion: Search plant by ID": {
      "main": [
        [{ "node": "IF: plant exists?", "type": "main", "index": 0 }]
      ]
    },
    "IF: plant exists?": {
      "main": [
        [{ "node": "Notion: Update plant", "type": "main", "index": 0 }],
        [{ "node": "Notion: Create plant", "type": "main", "index": 0 }]
      ]
    },
    "Notion: Update plant": {
      "main": [
        [{ "node": "Merge results", "type": "main", "index": 0 }]
      ]
    },
    "Notion: Create plant": {
      "main": [
        [{ "node": "Merge results", "type": "main", "index": 1 }]
      ]
    },
    "Merge results": {
      "main": [
        [{ "node": "Aggregate stats", "type": "main", "index": 0 }]
      ]
    },
    "Aggregate stats": {
      "main": [
        [{ "node": "Set audit stats", "type": "main", "index": 0 }]
      ]
    },
    "Set audit stats": {
      "main": [
        [{ "node": "Notion: Write Audit Log", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "W-Err Global Error Handler"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": ["solarops", "registry", "notion"]
}
